In [16]:
# 행단위 명령어 : 한줄 명령어다.
a = 10
b = 20
print ( a + b )

a = 30
print ( a + b )

b = 40; print ( a + b)   # 여러개의 명령어를 한줄에 작성하는 경우에는 ;으로 명령어를 구분

if b < 10: 
    print(str(b)+'는 10보다 작다.') 
elif b >= 10: 
    print(str(b)+'는 10보다 커.')

30
50
70
40는 10보다 커.

In [20]:
## 2.자료형
## 기본 자료형 : 자연수(Returnal) : 정수 리터널 :
##                                  실수 리터널 : 
## 문자 : 자연어 : 영어, 한국어 등 언어 ...
##                 문자 리터널 : 
a = 20 # 정수 리터널을 가진 변수 a
print (a)
b = 30  # 정수 리터널 변수 b
print (a+b)
c = 10.5 # 실수 리터널 변수 c
print (b+c)

20
50
40.5

In [25]:
# 숫자 연산자
i = 20
j = 8
print (i + j)
print (i - j)
print (i * j)
print (i / j)
print (i % j) # 나머지 연산자
print (i // j)  # 몫 구하는 연산자
print (10 ** 3)  # 제곱수 구하는 연산자

28
12
160
2.5
4
2
1000

In [35]:
# 문자열 리터널 : 문자 = 문자열 , "" or '' 사용해서 넣어줘야함.
ji = 3
지병천 = "ji"  # 문자 리터널 변수
# 문자 리터널과 변수를 구별하기 위해서 문자열에 "" 사용
# 숫자는 변수로 쓸 수 없다. 10 = "ji"
print (지병천)
str1 = 10 # 정수 리터널 
str1 = "10" # 문자 리터널
print(10 + 10) # 정수 + 정수
print("10" + "10") # 문자 + 문자
print(str(10) + "10") # 정수 + 문자
# + 는 연결 연산자, * 는 반복 연산자
print ("지병천\t" * 3)
print ("=" * 100)
print ("hello!")
print ("=" * 100)

ji
20
1010
1010
지병천	지병천	지병천
====================================================================================================
hello!
====================================================================================================

In [41]:
str1 = "Life is short, You need python"
str2 = "Life is short, You need python"
# escape : 탈출시키다. escape 문자(\)
str3 = "Life\'s short, You need python"
str4 = '안녕하세요 "병천"님?'   # 인용 부호
if str1==str2:
    print('맞다')
else:
    print('틀리다')

print(str4)

맞다
안녕하세요 "병천"님?

In [45]:
print('''Life is short, 
You need python''')
print("""Life is short, 
You need python""")
## 파이썬에서 문자열을 표시하는 방법 : " ",' ',""" """,''' '''(3개짜리는 행바꿈도 적용됨.)

Life is short,
You need python
Life is short,
You need python

In [51]:
str1 = "Life is too short, You need python"
print(str1)
print(len(str1))
print(len("Life is too short, You need python"))

Life is too short, You need python
34
34

In [71]:
# indexing
# index : 문자에 표시된 고유 번호, 0~
# python은 -(음수)를 갖는 인덱스를 사용할 수도 있다. 반대로 진행
str1 = "Life is too short, You need python"
print(str1[12])
print(str1[-22])
print(str1[len(str1) - 1]) # 마지막 문자 가져오기.
print(str1[-len(str1)])  # 첫 문자 가져오기
print("Life is too short, You need python"[33])

print(str1[0]+str1[1]+str1[2]+str1[3])
print(str1[0:0+4])
print(str1[0:4]) # start = 0, end = 4
print(str1[0:3]) # start = 0, end = 3
print(str1[8:8+5])
print(str1[8:13])
idx = 3
글수 = 5
print(str1[idx:idx+글수])

s
s
n
L
n
Life
Life
Life
Lif
too s
too s
e is

In [76]:
str1 = "Life is too short, You need python"
print(str1[0:0+7])
print(str1[-34:0+7])
print(str1[-34:-34+7])
print(str1[-len(str1): -27])

Life is
Life is
Life is
Life is

In [83]:
a = "20010331Rainy"
#### 날짜와 이름을 분리하여 출력
print(a[:8])
print(a[8:])

year = a[0:0+4]
month = a[4:4+2]
day = a[6:6+2]
date = a[8:8+5]
print(year + '년 ' + month + '월 ' + day + '일 ' +date)

20010331
Rainy
2001년 03월 31일 Rainy

In [96]:
print(str1)
print(str1[:len(str1)])
print(str1[:])
print(str1[::2]) #처음부터 인덱스 2개 마다
print(str1[::3]) #처음부터 인덱스 3개 마다
print(str1[::-1]) #문자열 거꾸로 출력
print(str1[2:14])
print(str1[2:14:2])
print(str1[13:1:-1])

Life is too short, You need python
Life is too short, You need python
Life is too short, You need python
Lf stosot o edpto
Lesosr ue tn
nohtyp deen uoY ,trohs oot si efiL
fe is too sh
f stos
hs oot si ef

In [100]:
z = "Pithon"
print(z[1])
# z[1] = "y" 문자열은 index를 이용해서 수정할 수 없음!
print(z[0] + 'y' + z[2:])

i
Python

In [114]:
# 문자열 포매팅이란?
print("현재 온도는 15도 입니다.")

temp = 15
print("현재 온도는 "+str(temp)+"도 입니다.")
# 포맷 문자열을 이용한 포맷팅

print("현재 온도는 %d도 입니다." %temp)

app = 5
print("I eat %d Apples"%app)
print("I eat %s Apples"%'five')
app2 = 'five'
print("I eat %s Apples"%app2)
app3 = 0.5
print("I eat %0.1f Apples"%app3)

현재 온도는 15도 입니다.
현재 온도는 15도 입니다.
현재 온도는 15도 입니다.
I eat 5 Apples
I eat five Apples
I eat five Apples
I eat 0.5 Apples

In [128]:
name = 'J'
age = 29
print('나의 이름은 %s 이고 나이는 %d 이다.'%(name,age))  #포매팅 변수가 2개 이상일 경우 소괄호로 묶어줘야 함.

acnum = '231402'
money = 380000

print("%s의 계좌번호는 '%s' 이고 잔액은 %d원 입니다." %(name,acnum,money))

나의 이름은 J 이고 나이는 29 이다.
J의 계좌번호는 '231402' 이고 잔액은 380000원 입니다.

In [139]:
name = 'Ji'
age = 29
height = 178.5

res = '%s의 나이는 %d살이고, 키는 %.1fcm 입니다.' %(name,age,height)
print(res)

res = '%s의 나이는 %s살이고, 키는 %scm 입니다.' %(name,age,height)
print(res)

result = '우리반의 취업률은 %d%%입니다.' %95
print(result)

# 정렬과 공백 : + 오른쪽 정렬 , - 왼쪽 정렬

res = '%10s의 나이는 %10s살이고, 키는 %10scm 입니다.' %(name,age,height)
print(res)

res = '%-10s의 나이는 %-10s살이고, 키는 %-10scm 입니다.' %(name,age,height)
print(res)

Ji의 나이는 29살이고, 키는 178.5cm 입니다.
Ji의 나이는 29살이고, 키는 178.5cm 입니다.
우리반의 취업률은 95%입니다.
        Ji의 나이는         29살이고, 키는      178.5cm 입니다.
Ji        의 나이는 29        살이고, 키는 178.5     cm 입니다.

In [153]:
#format 함수를 사용한 포매팅 : format()
res = '%s의 나이는 %d살이고, 키는 %.1fcm 입니다.' %(name,age,height) # 포맷 문자열 이용
print('{0}의 나이는 {1}살이고, 키는 {2}cm 입니다.'.format(name,age,height)) # 인덱스 번호로 부른다.

print('%s의 나이는 %s살이고, %s의 키는 %.1fcm 입니다.'%(name,age,name,height))
# 문자는 왼쪽 정렬,숫자는 오른쪽 정렬이 기본. 정렬 바꾸려면 <,>,^(중앙) 사용. 앞에 특문을 붙여서 공백을 채워넣을 수도 있음.
print('{0:5}의 나이는 {1:5}살이고, {0:5}의 키는 {2:5}cm 입니다.'.format(name,age,height))
print('{0:<5}의 나이는 {1:<5}살이고, {0:<5}의 키는 {2:<5}cm 입니다.'.format(name,age,height))
print('{0:>5}의 나이는 {1:>5}살이고, {0:>5}의 키는 {2:>5}cm 입니다.'.format(name,age,height))
print('{0:^5}의 나이는 {1:^5}살이고, {0:^5}의 키는 {2:^5}cm 입니다.'.format(name,age,height))
print('{0:*^6}의 나이는 {1:*^6}살이고, {0:*^6}의 키는 {2:*^6}cm 입니다.'.format(name,age,height))

Ji의 나이는 29살이고, 키는 178.5cm 입니다.
Ji의 나이는 29살이고, Ji의 키는 178.5cm 입니다.
Ji   의 나이는    29살이고, Ji   의 키는 178.5cm 입니다.
Ji   의 나이는 29   살이고, Ji   의 키는 178.5cm 입니다.
   Ji의 나이는    29살이고,    Ji의 키는 178.5cm 입니다.
 Ji  의 나이는  29  살이고,  Ji  의 키는 178.5cm 입니다.
**Ji**의 나이는 **29**살이고, **Ji**의 키는 178.5*cm 입니다.

In [161]:
#{} 출력하기
print("{{{0}}}의 나이는 {1}살이고, 키는 {2}cm 입니다.".format(name,age,height));

{Ji}의 나이는 29살이고, 키는 178.5cm 입니다.

In [166]:
#인자에 변수명 주기
print("{0}의 나이는 {1}살이고 키는 {키}cm 입니다.".format(name,29,키 = height))

print("{0}의 나이는 {나이}살이고 키는 {키}cm 입니다.".format(name,나이 = age,키 = height))

print("{나}의 나이는 {나이}살이고 키는 {키}cm 입니다.".format(나 = name,나이 = age,키 = height))

Ji의 나이는 29살이고 키는 178.5cm 입니다.
Ji의 나이는 29살이고 키는 178.5cm 입니다.
Ji의 나이는 29살이고 키는 178.5cm 입니다.

In [167]:
#f 문자열 포매팅
print(f"{name}의 나이는 {age}살이고, 키는 {height}cm 입니다.")

Ji의 나이는 29살이고, 키는 178.5cm 입니다.

In [171]:
#정렬과 공백
print(f"{name:10}의 나이는 {age:10}살이고, 키는 {height:10}cm 입니다.")
print(f"{name:<10}의 나이는 {age:<10}살이고, 키는 {height:<10}cm 입니다.")
print(f"{name:>10}의 나이는 {age:>10}살이고, 키는 {height:>10}cm 입니다.")
print(f"{name:^10}의 나이는 {age:^10}살이고, 키는 {height:^10}cm 입니다.")
print(f"{name:.^10}의 나이는 {age:.^10}살이고, 키는 {height:.^10}cm 입니다.")

Ji        의 나이는         29살이고, 키는      178.5cm 입니다.
Ji        의 나이는 29        살이고, 키는 178.5     cm 입니다.
        Ji의 나이는         29살이고, 키는      178.5cm 입니다.
    Ji    의 나이는     29    살이고, 키는   178.5   cm 입니다.
....Ji....의 나이는 ....29....살이고, 키는 ..178.5...cm 입니다.

In [181]:
str = 10
del str
dan = 9
gop = 3
# 변수명 함수명을 구분하지 않는다. (변수와 함수명은 유일해야한다.)
print(str(dan) + " * " + str(gop) + " = " + str(dan*gop))
print(str(dan), " * " , str(gop) , " = " , str(dan*gop))

print(f'{dan} * {gop} = {dan * gop}')

9 * 3 = 27
9  *  3  =  27
9 * 3 = 27

In [189]:
# 문자열 관련 함수들 : 문자열 가공하기
a = "hobby"
print(a)
# 문자열 크기
print(len(a))
print(len("hobby"))
# 특정 문자의 갯수
print(a.count("b"))
print("hobby".count("b"))

str2 = "Life is too short"
print(str2.count("o"))

hobby
5
5
2
2
3

In [202]:
"Life is too short"
print(str2[8:8+3]) # str2.substring(8,8+3)
idx = str2.index("too")  # idx = str2.indexOf("too")
print(idx)
print(str2[idx:idx+3]) # str2.substring(idx,idx+3)

# t부터 3글자 ~ .find
print(str2[str2.find("t"):str2.find("t")+3])

# i부터 4글자
print(str2[str2.find("i"):str2.index("i")+4])

# 두번째 s부터 4글자
idex = str2.index("s",str2.index("s")+1)
print(str2[idex:idex+4])

too
8
too
too
ife
shor

In [204]:
str3 = "Life is too short, You need python"
idx2 = str3.index("t",str3.index("t",str3.index("t")+1)+1)
print(str3[idx2:idx2+4])

thon

In [206]:
#마지막 't'에서 4글자
idx3 = str1.rindex("t")
print(str3[idx3:idx3+4])

thon

In [210]:
#too 출력
idex4 = str2.index('t')
print(str2[idex4:idex4+4])

idex4 = str2.find('t')
print(str2[idex4:idex4+4])

idex4 = str2.rfind('t')
print(str2[idex4:idex4+3])

too
too
t

In [213]:
idx = str2.find('z')
print(idx)   # 찾는 문자가 없는 경우 -1
# .index() 는 문자가 없는 경우 오류난다.

-1

In [216]:
print(str2)
print(str2.lower())  # str2.lowercase (자바에서)
print(str2.upper())  # str2.uppercase (자바에서)

Life is too short
life is too short
LIFE IS TOO SHORT

In [227]:
str4 = "    hello!      "
print(str4.strip())   # trim()

str4 = "    hello!      "
print(str4.lstrip())   # trim()

str4 = "    hello!      "
print(str4.rstrip())   # trim()

str4 = "bbhello!bb"
print(str4.strip("bb"))   # trim()

hello!
hello!
    hello!
hello!

In [231]:
# 문자열 대체하기
str4 = "Life is too short"
resl = str4.replace("Life","Your Leg")
print(resl)

resl = str4.split()
print(resl)    # list

str5 = "Life:is:too:short"
resl = str5.split(":")    # python의 split은 인자 1개로밖에 나눠볼 수 없다.

print(resl)

Your Leg is too short
['Life', 'is', 'too', 'short']
['Life', 'is', 'too', 'short']